<div class="navbar navbar-dark" role="navigation" style="margin-bottom:0; border-bottom: 1px solid;">
    <div class="container-fluid" style="display: inline-block">

        <div class="navbar navbar-expand-lg navbar-right " style="display: inline-block">
            <div class="nav navbar-nav navbar-expand-lg " style="display: inline-block">
                <a href="/">Home</a></li>
                <a href="{{url_for('main.business_pitches')}}">Business pitches</a>
                <a href="{{url_for('main.screenplay_pitches')}}">Screenplay pitches</a>
                <a href="{{url_for('main.project_pitches')}}">project pitches</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">{{current_user.username| capitalize}} <span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{url_for('main.profile', uname=current_user.username)}}">Profile</a></li>
                        <li><a href="{{url_for('main.user_pitches', uname=current_user.username)}}">My Pitches</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
            </ul>
            {%endif%}
        </div>
    </div>
</div>